body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    margin-top: 50px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #2878a7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2878a7;
}

a {
    text-decoration: none;
    color: #007bff;
}
